* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: aptos-narrow, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

body {
    font: inherit;
    background-color: #160b19;
    height: 100vh;
}

footer {
    height: 3%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;

    p {
        background: -webkit-linear-gradient(#ffffff, #ae00ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.main {
    display: flex;
    justify-content: center;
    height: 20%;
    padding-top: 0.5em;

    a:last-of-type {
        width: 35%;

        img {
            justify-self: center;
            width: 100%;
        }
    }
}

.description {
    color: white;
    font-weight: 600;
    align-items: center;
    justify-items: center;
    padding-bottom: 0.5em;
    justify-self: center;
    max-width: 60%;

    p {
        text-align: center;
    }
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 4em;
    margin: 1.5em;

    transition: transform 300ms ease-in-out,
        transform 300ms ease-in-out;
}

.background {

    background-image: linear-gradient(rgba(22, 11, 25, 0.2),
            rgba(22, 11, 25, 1)), url("../media/sheet-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 80%;
    justify-content: space-between;
}

.sheet-div {
    display: flex;
    justify-content: center;
    position: relative;
    height: 77%;
}

.main-logo {
    width: 50%;

    transition: transform 300ms ease-in-out,
        transform 300ms ease-in-out;
}

.sheet-image:hover {}

.button {

    color: white;
    text-decoration: none;
    border-radius: 0.7em;
    border-color: white;
    border-style: solid;
    border-width: 0.2em;
    margin: 0 1em;
    padding: 0 0.3em;
    height: 2.5em;
    align-content: center;

    p {
        width: 10em;
        text-align: center;
        font-weight: 800;
    }

    transition: background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.description {
    display: flex;
    height: 10%;
    min-width: 100%;
    justify-self: center;
    justify-content: center;
    background-image: linear-gradient(rgba(22, 11, 25, 0.8),
            rgba(22, 11, 25, 0.9));

    p {
        max-width: 60%;
    }

}

.links {
    display: flex;
    height: 10%;
    width: 100%;
    justify-self: center;
    justify-content: center;
    background-image: linear-gradient(rgba(22, 11, 25, 0.9),
            rgba(22, 11, 25, 1));
}

.empty-div {
    height: 80%;
    background-image: linear-gradient(rgba(22, 11, 25, 0),
            rgba(22, 11, 25, 0.8));
}

.button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #160b19;
}

.main-logo:hover {
    transform: scale(101%);
}

.logo:hover {
    transform: scale(110%);
}